* {
    font-family: "Figtree", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

:has(:target) {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 3rem;
}

body.light-theme {
    background: #f6f8fe;
}

body.dark-mode {
    background: #060819 !important;
}

div.container {
    max-width: 980px;
}

header {
    margin: auto;
    max-width: 100%;
}

aside {
    float: left;
    position: sticky;
    top: 25px;
}

aside ul {
    margin-left: 40px;
}

aside ul li {
    font-size: 1.2rem;
}

.key {
    width: 66px;
    height: 66px;
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
    font-size: 32px;
    background: none;
    color: #000000;
    border: 2px solid #e5e5e517;
    padding: 0;

}

button.key:hover {
    background: #fcb300;
}



hr.new {
    border: 2.5px solid #d9d9d91c;
    opacity: 1;
    margin: 15px auto 19px;
    max-width: 100%;
}

header {
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

footer {
    justify-content: center !important;
    margin-bottom: 20px;
}

span#click {
    color: #fcb300;
}

section#diacritics {
    margin-top: 80px;
}

header a img {
    margin-right: 8px;
}

header a#github {
    display: flex;
    justify-content: flex-end;
}
header #chrome-store {
    display: none;
    gap: 11px 
}
#chrome-store img {
width: 39px;
height: 33px;
}

#chrome-store span {
    max-width: 80px;
}

#chrome-store span {
    font-family: Biotif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;

}

@media (min-width: 768px) { 
    header {
        grid-template-columns: auto auto auto;
    }
    header #chrome-store {
        display: flex;
    }
}

div.key-section {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 66px);
    grid-gap: 10px;
}

section h2.heading-1 {
    margin-top: 50px;
    margin-bottom: 0;
}

section h3 {
    margin-block: 20px;
}

@media (min-width: 1280px) {
    section h2.heading-1 {
        margin-top: 100px;
    }
}

p#confirm {
    display: none;
    position: fixed;
    top: 80vh;
    left: 44vw;
    z-index: 100;
    color: #fcb300;
    font-size: 32px;
    font-weight: 700;
    background-color: whitesmoke;
    border: 3px solid #fcb300;
    border-radius: 4px;
    padding: 10px;
    user-select: none;

}

.anime {
    display: block !important;
}



/* break points */
@media (max-width: 890px) {
    div.key-section {
        grid-gap: 8px;
    }

    p#confirm {
        left: 32vw;
    }
}

@media (max-width: 420px) {
    div.key-section {
        grid-gap: 5px;
    }
}

@media (max-width: 1280px) {
    aside {
        display: none;
    }
}



/*@media (hover: none) {
        button.key:hover{
            background: #000000;
        }
    }*/


nav ul {
    list-style: none;
    /* Remove default bullets */
}

nav ul li::before {
    content: "•";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: hsl(0, 0%, 100%);
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}

nav ul li a.active {
    color: #FFFFFF;
}

nav .sub-ul {
    display: none;
}

nav ul li:has(a.active[href="#emojis"]) > ul {
    display: block;
}

ul ul li a {
    font-size: 15px;
}


nav ul li#diacratics-anchor::before {
    content: "À";
}

nav ul li#currency-anchor::before {
    content: "$";
}

nav ul li#punctuation-anchor::before {
    content: "¶";
}

nav ul li#math-anchor::before {
    content: "∑";
}

nav ul li#arrows-anchor::before {
    content: "↣";
}

nav ul li#emojis-anchor::before {
    content: "😀";
    margin-left: -1.4rem;
    margin-right: 0.2rem;
}

/* search bar */
form.search {
    background-color: #fcb300;
    width: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    position: sticky;
    top: 25px;
}

.search input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: black;
    opacity: 0.7;
}

.search button {
    all: unset;
    cursor: default;
    width: 44px;
    height: 44px;
}

button svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}

/* Quita el botón de limpiar en el input type: search  */
#searchbar::-webkit-search-clear-button,
#searchbar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

#searchbar::-moz-search-clear-button,
#searchbar::-moz-search-cancel-button {
    -moz-appearance: none;
    appearance: none;
    display: none;
}

/* Oculta las secciones que no tienen ningun boton visibles */
section:not(:has(button[style*="display: block"])) {
    display: none;
}

/* en cascada, da como default display:block por que el selector lo toma al stylo inline*/
section:not(:has(button[style*="display: none"])) {
    display: block;
}

/* Oculta las secciones que no tienen ningun boton visibles */
.sub:not(:has(button[style*="display: block"])) {
    display: none;
}

/* en cascada, da como default display:block por que el selector lo toma al stylo inline*/
.sub:not(:has(button[style*="display: none"])) {
    display: block;
}

/* END search bar */

/* tooltip */

#tooltip {
    background: #333;
    width: fit-content;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
}

#tooltip[data-show] {
    display: block;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow {
    visibility: hidden;
}

#arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top']>#arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom']>#arrow {
    top: -4px;
}

#tooltip[data-popper-placement^='left']>#arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right']>#arrow {
    left: -4px;
}

/* END tooltip */

body {
    border-top: 8px solid #fcb402;
}

body.dark-mode hr {
    border-color: #ffffff21 !important;
}