* {
    font-family: "Figtree", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}
  

body.light-theme {
    background:#f6f8fe;
}

div.container {
    max-width: 980px;
}

header {
    margin: auto;
    max-width: 980px;
}

.key {
    width: 66px;
    height: 66px;
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
    font-size: 32px;
    background: none;
    color: #000000;
    border: 2px solid #e5e5e517;
    padding: 0;

}

button.key:hover {
    background: #fc7e00;
}



hr.new {
    border: 2.5px solid #d9d9d91c;
    opacity: 1;
    margin: 15px auto 19px;
    max-width: 100%;
}

header {
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

span#click {
    color: #fc7e00;
}

section#diacritics {
    margin-top: 80px;
}

header a img {
    margin-right: 8px;
}

header a#github {
    display: flex;
    justify-content: flex-end;
}

div.key-section {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 10px;
}

section h2.heading-1 {
    margin-top: 50px;
    margin-bottom: 0;
}

p#confirm {
    display: none;
    position: fixed;
    top: 80vh;
    left:44vw;
    z-index: 100;
    color: #fc7e00;
    font-size: 32px;
    font-weight: 700;
    background-color: whitesmoke;
    border: 3px solid #fc7e00;
    border-radius: 4px;
    padding: 10px;
    user-select: none;

}

.anime {
     display: block !important;
     animation-name: popUp;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

   }

@keyframes popUp {
    0% {
        display: none;
        opacity: 0;
    }
    30% {
        display: block;
        opacity: 1;
    }
    70% {
        display: block;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

/* break points */
@media (max-width: 890px) {
    div.key-section {
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 8px;
    }
    p#confirm {
        left: 32vw;
    }
}

@media (max-width: 420px) {
    div.key-section {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
    }
}



/*@media (hover: none) {
        button.key:hover{
            background: #000000;
        }
    }*/